.vartical-inderhit{
    vertical-align: inherit;;
}
.main-job-container{
    width: 100%;
    align-items: center;
}
.search-box{
    width: 80%;
    margin: auto;
    padding: 32px 0;
}
.main-job-container{
    background-color:#fff7e6;
}
.main-job__search-wapper{
    width: 60%;
    margin: auto;
    display:flex;
    align-items: center;
    flex-direction: row;
    padding: 6px 8px 6px 16px;  
    background-color: #ffe9d4;
    border-radius:8px;
}
.main-job__search-input{
    flex-basis: 50%;
    padding-right: 8px;
    border-right: 1px solid black;
}
.main-job__search-input input {
    width: 100%;
    background-color: #ffe9d4;
}
.main-job__search-address {
    flex-basis: 36%;
    padding: 0 24px;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.main-job__search-btn-box {
    flex-basis: 20%;
    padding-left: 24px; 
}
.main-job__search-btn{
    display: flex;
    background-color: orange;
    padding:8px 6px;
    border-radius:8px;
}
.main-job__search-btn img{
    max-height: 20px;
    padding-right: 10px;
}
.main-job__wapper{
    width: 100%;
    text-align: center;
    font-size:18px;
}
.main-job-list{
    width: 40%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 30px 0;
}
.main-job-list-menu{
    flex-basis: 45%;
    display: flex;
    align-items:center;
    justify-content:center;
    padding: 10px 10px;
    background-color: #ffe9d4;
}
.main-job-list-menu span{
    margin-right:8px;
}
.khoi img{
    animation: in-out 2s infinite ;
}
@keyframes in-out{
    form{
        transform: scale(1);
    }
    to{
        transform: scale(1.4);
    }
}
.main-apply-job{
    width: 100%;
    padding-top: 80px;
}
.main-apply-menu{
    width: 60%;
    margin: auto;
    display:flex;
    justify-content:space-around;
}
.main-apply-item{
    flex-basis: 45%;
    border-radius: 8px;
    overflow: hidden;
    background-color: #ffe9d4;
    position: relative;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0 black;  ;
}
.main-apply-item-top img{
    max-width: 100%;
}
.main-apply-item-center{
    line-height: 22px;
    margin-bottom: 30px;
    height:250px;
    padding:16px;
}
.main-apply-item-center h4{
    font-size: 20px;
}
.main-apply-item-center>ul>li{
    padding: 10px 24px;
    position: relative;
}
.main-apply-item-center li::before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    top: 16px;
    left: 8px;
    position: absolute;
    border-radius: 50%;
    background-color: #000;
}
.main-apply-item-bottom{
    padding: 16px;
}
.main-apply-item-bottom a{
    position: absolute;
    bottom: 0;
    bottom: 16px;
    border: 1px solid #eee;
    border-radius: 4px;
    text-align: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    width: 90%;
    text-align: center;
    background-color:orange;
}