#story{
    width: 100%;
    position: relative;
    top:250px;
    background-color:#fff7e6;
    margin-bottom:150px;
    padding-bottom: 150px;
}
#story h1{
    width: 100%;
    text-align: center;
    padding-top:40px;
}
.story-title{
    width: 80%;
    margin: auto;
    margin-top:24px;
    margin-bottom: 24px;
    border-left: 4px solid #E57905;
    font-size: 24px;
    padding-left: 12px;
    line-height:1.4;
}
.story-title:hover a{
    color:#E57905;
}
.story-menu{
    width: 82%;
    margin: auto;
    display:flex;
    justify-content:space-around; 
    line-height:1.6  
}
.story-item{
    flex: 1;
    padding:16px;
}
.story-item h3{
    height: 25px;
    overflow: hidden;
    margin: 8px 0;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.story-item-info > a{
    width: 100%;
    border-radius: 8px;
}
.story-item-info h3:hover a{
    color:#E57905;
}
.story-item-info{
    margin-top: 8px;
}
.story-item-top{
    border-radius:8px;
    overflow: hidden;
}
.story-item-top:hover img{
    transform:scale(1.1)
}
.story-item img{
    display: block;
    width: 100%;
    height:180px;
    object-fit: cover;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}