.page-content-right{
    width: 80%;
    padding-left: 72px;
    float: right; 
}
.slider-content {
    position: relative;
    width: 100%;
}
.silder-content-top-list:hover button{
    opacity: 1;
}
.silder-content-top-list{
    position: relative;
    overflow: hidden;
}
.silder-content-top{
    width: 100%;
    height: 250px;
    position: relative;
    transition: all 0.5s ease;
}
.silder-content-top > a{
    width: 100%;
    border-radius: 8px;

}
.silder-content-top img{
    width: 100%;
    position: absolute;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.silder-content-top-list:hover img{
    transition: all 0.3s ease-in-out;
}
.silder-content-top a:nth-child(2) img{
    transform: translateX(100%);
}
.silder-content-top a:nth-child(3) img{
    transform: translateX(200%);
}

.silder-content-top-list{
    position: relative;
    overflow: hidden;
}
.silder-content-top-btn{
    position: absolute;
    top:40%;
    display:flex;
    justify-content: space-between;
    width: 100%;
}
.silder-content-top-btn button{
    background-color:transparent;
    cursor: pointer;
    border: none;
    opacity: 0;
    width: 35px;
    height: 35px;
}
.silder-content-top-btn img{
    max-width:100%;
}

.silder-content-bottom{
    width: 13%;
    margin: auto;
    position: absolute;
    display: flex;
    justify-content:space-around;
    left: 50%;
    top:95%;
    transform: translateX(-50%)
}
.silder-content-bottom li{
    cursor: pointer;
    width: 15px;
    height: 1px;
    border-top: 3px solid white;
}
.silder-content-bottom li.action{
    border-top: 3px solid orange;
}
.page-item{
    color:orange;
}
.store-list{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
}
.store-loop {
    flex: 0 0 calc(50% - 24px);
    width: calc(50% - 24px);
    margin: 0 12px 40px;
}
.store-loop-bottom .store_name{
    font-size: 18px;
    margin: 8px 0 12px;
}
.store_loop .store_actions {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -4px;
}
.store_actions > a.animate_btn {
    padding: 5px 25px;
    font-size: 14px;
    flex: 1;
    margin: 0 4px;
    text-align: center;
    overflow: hidden;
}
.store_actions > a:first-child {
    border: 2px solid #FFF7E6;
}
.animate_btn.reverse {
    color: #EA8025;
    border: 2px solid #fff;
    background: transparent;
}
.animate_btn {
    width: 100%;
    backface-visibility: hidden;
    border-radius: 8px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 2px solid #EA8025;
    padding: 8px 25px;
    display: inline-block;
    z-index: 1;
}
.animate_btn:hover{
    background-color:orange;
    color:white;
}
.sharing img{
    height: 100%;
}
.store_actions > ul {
    display: flex;
    align-items: center;
    margin: 16px 0 0;
    padding: 0;
    width: 100%;
}
.store_wktime {
    margin-bottom: 12px;
}
.store_actions > ul li {
    margin-right: 18px;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
    line-height: 24px;
}
.store-loop-bottom > hr {
    margin: 12px 0;
    border: 1px solid #00000026;
}
.store_address, .store_loop .store_wktime {
    margin-bottom: 12px;
    line-height: 24px;
}
.store_meta {
    display: flex;
    flex-wrap: wrap;
}
.store_meta > * {
    flex: 0 0 auto;
    min-width: 150px;
    margin-right: 15px;
    margin-bottom: 12px;
    position: relative;
    padding-left: 28px;
}
.store_meta > *:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}
.parking::before{
    content: '';
    background:url(./assets/car.png)center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}
.self_serving::before{
    content: '';
    background:url(./assets/store.png)center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}
.take_away::before{
    content: '';
    background:url(./assets//shopping.png)center/cover no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
}
.chen{
    width: 100%;
    position: relative;
    display:flex;
}
#footer{
    position: relative;
    top:100%;
    background-color:#262626;
    color: #fff;
}
.footer-content{
    width: 82%;
    margin: auto;
    padding : 34px 0 54px;
}
.footer-row{
    display:flex;
    justify-content:space-around;
}
.footer-title{
    margin-bottom:10px;
}
.footer-linklists a{
    color: #fff;
}
.footer-linklists li {
    margin-bottom: 8px;
    font-size: 12px;
}
.hotline-footer p {
    font-size: 14px;
    margin-bottom: 24px;
    color: #fff;
}
.address-footer{
    font-size: 13px;
}
.footer-item{
    flex: 1;
}
.tch-page{
    width:100%;
    position: relative;
}
._2zfs{
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
    height: 50%;
    position: absolute;
    z-index: -1;
}
.tch-page > img{
    width: 100%;
    position: relative;
    border: 1px solid #000;
}

.tch-page-img{
    display: flex;
    position: absolute;
    top: 15px;
    margin-left: 10px;
    z-index: 3;
}
._2zfs{
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, .7) 0%, rgba(0, 0, 0, 0) 100%);
    height: 50%;
    left: 0;
    position: absolute;
    top: 0;
    right:0px;
    z-index: 2;
}
.tch-page-img img{
    border:3px solid #fff;
    box-shadow: 0 1px 6px rgb(0 0 0 / 50%);
}
.tch-page-img-right{
    margin-left:10px;
}

.tch-page-img-right-top a{
    color: #fff;
    font-size:18px;
    text-shadow: 0 2px 4px rgb(0 0 0 / 90%);
}
.tch-page-img-right-top span{
    width:20px;
    height: 20px;
    /* background-image: url(./image/tichxanh.png); */
    background-repeat: no-repeat;
    text-shadow: 0 2px 4px rgb(0 0 0 / 90%);
}
.tch-page-img-right span{
    text-shadow: 0 2px 4px rgb(0 0 0 / 90%);
}
.tch-page-img-btn{
    width: 100%;
    height: 20px;
    padding: 0 12px;
    position: absolute; 
    top:120px
}
.tch-page-img-btn img{
    height: 70%;
}
.tch-page-img-btn a{
    height: 30px;
    color: #000;
    border: 1px solid #fff
}
.tch-page-img-btn1{
    line-height:1.6;
    width:40%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #ddd;
    float: left;
}
.tch-page-img-btn2{
    width:28%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    background-color: #ddd;
    float: right;
}
.tch-social-links li{
    float: left;
    padding-right:16px
}